<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="SQLServer"
		 providerName="System.Data.SqlClient"
		 connectionString="Data Source=.\SQL2022DEV;Initial Catalog=demo_prealables" />
		<add name="MySql"
		 providerName="MySql.Data.MySqlClient"
		 connectionString="SERVER=localhost=.\SQL2022DEV;DATABASE=demo_prealables" />
	</connectionStrings>
</configuration>