<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="LocalSqlServerWinLogin"
		 providerName="System.Data.SqlClient"
		 connectionString="Persist Security Info=false;server=(local);database=db_knowledgebase;Integrated Security=SSPI" />
	</connectionStrings>
	<appSettings>
		<add key="db_name" value="db_knowledgebase"/>
		<add key="db_host" value="localhost"/>
	</appSettings>
</configuration>